body{ 

    font-family: sans-serif;
    color: white;
    background-image: url("img/bg4.jpg");
    background-position: left top;
    background-attachment: fixed;
}

main{
   
}
li{
    padding-right: 50px;
}
h1{
    font-size: 24px;
}
h1.perso{
    font-size: 24px;
}
h2{
    font-size: 18px;
}
p.naam{
    font-size: 100px;
    text-align: center;
    text-decoration: underline;
}
p.lala{
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 280px;
    left: 330px;
}

p{
    font-size: 12px;
    
}
img.perso{
    float: right;
    height: 250px;
    width: 200px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 35px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
img.article{
    width: 200px;
    height: 150px;
}
article.opdrachten{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 140px;

}
h2.article{
    text-align: center;
}
main.opdrachten{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 140px;
    left: 10px;
    width: auto;
    height: auto;
}
img.hobby{
    position: relative;
    height: 150px;
    width: 150px;
    transform: rotate(30deg);
    left: 1000px;
}
#hobby2{
    position: absolute;
    left: 200px;
    top: 350px;
    width: 250px;
    height: 150px;
}
a.cv{
    color: white;
    text-decoration: underline;
}
a.cv:hover{
    color: blue;
    
}
table{
    width: 400px;
    height: 5px;
    position: static;
    left: 30px;
    top: 80px;
}
th{
    text-align: left;
}
div.map{
    width:300px;
    height:300px;
    position: absolute;
    left: 800px;
    top: 100px;
}

@media screen and (max-width: 500px){
    body{
        
    }
p.naam{
   

}
p{
    font-size: 23px;
}
p.lala{
    position: absolute;
    top: 550px;
    left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;

}

li a:hover {
    background-color: #111;
}